/JavaApplication2/build/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/augment de sou/nbproject/private/
/augment de sou/build/
/bucles/nbproject/private/
/bucles/build/
/bucles2/nbproject/private/
/Bucles_2/nbproject/private/
/Bucles_2/build/
/bucles_3/nbproject/private/
/bucles_3/build/
/clash_royale_caracteres/build/
/clash_royale_caracteres/nbproject/private/
/clash_royale_letras/nbproject/private/
/clash_royale_01/nbproject/private/
/Sueldo_neto/nbproject/private/
/Sueldo_neto/build/
